html { font-family: serif; font-size: 1.0em; color: grey; background-color:white; margin-right: 5%;}

input[type=text] {border: thin #9999FF dashed; width: 100%; color: black; }

button { float: left; font-size: 2em; padding: 1.8; margin: 0.5em;}
select { float: right; font-size: 1.5em;}
#controls { margin-left: 10%; margin-right: 10%; }

input:focus, textarea:focus { border: thick solid #9999FF;}

textarea { border: thin #9999FF solid; margin-left: 3em; font-size: 1.2em; width: 90% }

ul {list-style: none; }
ul#to { float: left; }
ul#from { float: right; }
ul#opening { clear: both; }

.footer { font-size: 0.8em; clear: both }

h1 {text-align: center;
position:absolute;
margin-left: 40%;
margin-right: 40%;
top: 5%;
}
