\documentclass[british,a4paper]{letter}
\usepackage{fontspec}
\defaultfontfeatures{Mapping=tex-text}
\usepackage{xunicode}
\setmainfont{%s}
\usepackage{babel}
\begin{document}

\address{
%s
}

\letter{
%s
}

\signature{%s}

\opening{%s}

%s

\closing{%s}

\end{document}
