html { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1.0em; color: grey; background-color:white; margin-right: 5%;}

input{
	padding: 2px;
	background: #FFFFFF;
	border: 1px solid #D4D6D6;
	font-size: 13px;
	color: #676767;
	width: 240px;
	min-height: 20px;
}

button { float: left; font-size: 2em; padding: 1.8; margin: 0.5em;}
select { float: right; font-size: 1.5em;}
#controls { margin-left: 10%; margin-right: 10%; }

textarea { border: thin #9999FF solid; margin-left: 3em; font-size: 1.2em; width: 90% }

ul {list-style: none; }
ul#to { float: left; }
ul#from { float: right; }
ul#opening { clear: both; }

.footer { font-size: 0.8em; clear: both }

h1 {text-align: center;
	position:absolute;
	margin-left: 40%;
	margin-right: 40%;
	top: 5%;
}
